*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    list-style-type: none;
    font-size: 24px;
}

section > h2{
    color: greenyellow;
}

section h2{ 
    font-size: 30px;
    font-weight: 700;
    font-weight: 400;
    color: blue;
}
section > h2{
    color: tomato;
}

h2{
   color: red;
}


h2 ~ p{
    background-color: #777;
}
h2 + p{
    background-color: #ccc;
}

p::first-letter{
    text-transform: uppercase;
    font-weight: bold;
}

ul ::selection{
    color: green;
    background-color: rgb(13, 8, 8);
}

h2:hover::before{
    content: "Club Name";
    color: blue ;
}

.mine{
    border-block-end: 5px solid blue;
}